#footer{
  margin-top: 30px;
  padding: 20px;
  color: #fff;
  background: #333;
}

.container{
  padding: 25px 0 0 0;
}

.list-group{
  padding: 10px 0 0 0;
}

.anchoTextLogin{
  width: 25%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.jumbotron{
  padding: 1rem 3rem;
}
